html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}



nav .menu {
    display: flex;
    list-style: none;
}

nav .menu li {
    margin: 0 15px;
}

nav .menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.language {
    font-size: 14px;
}
