{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <title>{% block title %} {%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
</head>
<body>
    <aside>
        <div style="display: flex;">
            <div><img src="{% static 'main/img/instagram.svg' %}"></div>
                <div style="padding: 17px 0 0 15px"><h2 style="color: black">Instagrame</h2></div>
        </div>

        <ul>
            <a href="{% url 'home' %}"><li><i class="bi bi-house" style="color: #ff00f7"></i>Main</li></a>
            <a href="{% url 'about' %}"><li><i class="bi bi-search" style="color: #ff00f7"></i>About us</li></a>
            <a href="{% url 'contacts' %}"><li><i class="bi bi-person-lines-fill" style="color: #ff00f7"></i>Contacts</li></a>
            <a href="{% url 'news_home' %}"><li><i class="bi bi-newspaper" style="color: #ff00f7"></i>Новости</li></a>
            <a href="{% url 'twitch' %}"><li><i class="bi bi-twitch" style="color: #ff00f7"></i>Our Twitch</li></a>
            <a href="{% url 'tg' %}"><li><i class="bi bi-telegram" style="color: #ff00f7"></i>Our TG</li></a>
            <a href="{% url 'create' %}"><li><button class="bi bi-info" style="color: #ff00f7"><i class = 'bi bi-news'></i> Add news </li></a>

        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>