{% extends 'layout.html' %}
{% load static %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'main/css/music.css' %}">
{% endblock %}
{% block content %}
    <div>
        <div class="music-list">
            <div class="music-item">
                <h3>Название трека 1</h3>
                <p>Исполнитель: Артист 1</p>
            </div>
            <div class="music-item">
                <h3>Название трека 2</h3>
                <p>Исполнитель: Артист 2</p>
            </div>
            <div class="music-item">
                <h3>Название трека 2</h3>
                <p>Исполнитель: Артист 2</p>
            </div>
            <div class="music-item">
                <h3>Название трека 2</h3>
                <p>Исполнитель: Артист 2</p>
            </div>
            <div class="music-item">
                <h3>Название трека 2</h3>
                <p>Исполнитель: Артист 2</p>
            </div>
            <!-- Добавьте больше музыкальных элементов по необходимости -->
        </div>
    </div>
{% endblock %}

