{% extends 'layout.html' %}
{% load static %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'main/css/sub.css' %}">
{% endblock %}
{% block content %}
    <div>
        <section class="subscription-status">
            <p>Подписка до 01.01.2024</p>
            <h1>Лайт-версия</h1>
            <p>Вы на облегчённой версии подписки. Слушайте музыку, минимизируя в фоновом режиме. Сниженная стоимость подписки - 320 рублей.</p>
            <div class="subscription-buttons">
                <button class="cancel-btn">Отменить подписку</button>
                <button class="change-btn">Изменить план подписки</button>
            </div>
        </section>

        <section class="promo-text">
            <p>Не упустите шанс сделать ваши музыкальные моменты ещё ярче! Подписывайтесь прямо сейчас и наслаждайтесь музыкой, которую вы любите. При оформлении первой любой подписки — дарим пробный месяц бесплатно.</p>
            <div class="toggle-options">
                <!--<button>Ежегодная</button>
                <button>Ежемесячная</button>--->
            </div>
        </section>

        <section class="plans">
            <div class="plan">
                <h3>Лайт</h3>
                <p class="original-price">400 ₽</p>
                <p class="discount-price">320 ₽</p>
                <ul>
                    <li>Отсутствие рекламы</li>
                    <li>Слушать песни в фоновом режиме</li>
                    <li>Неограниченные пропуски</li>
                    <li>Выбор плейлистов и артистов</li>
                    <li>Выбор плейлистов в профиле</li>
                </ul>
                <button class="subscribe-btn">Начать с лайт-подпиской</button>
            </div>
            <div class="plan premium">
                <h3>Премиум</h3>
                <p class="original-price">1000 ₽</p>
                <p class="discount-price">800 ₽</p>
                <ul>
                    <li>Отсутствие рекламы</li>
                    <li>Слушать песни в высоком качестве</li>
                    <li>Неограниченные пропуски песен</li>
                    <li>Выбор музыки в отдельных плейлистах</li>
                    <li>Уникальные еженедельные задания</li>
                </ul>
                <button class="subscribe-btn">Начать с премиум-подпиской</button>
            </div>
        </section>

        <section class="faq">
            <h2>Часто задаваемые вопросы</h2>
            <div class="faq-item">
                <h3>Можно ли оформить подписку без привязки банковской карты?</h3>
                <p>Да, мы предлагаем несколько альтернативных вариантов. Обратитесь в наш центр поддержки.</p>
            </div>
            <div class="faq-item">
                <h3>Что мне делать, если я отменил подписку до конца пробного периода?</h3>
                <p>Вы всегда можете повторно подписаться до окончания пробного периода.</p>
            </div>
            <div class="faq-item">
                <h3>Смогу ли я отменить подписку до конца пробного периода?</h3>
                <p>Да, отмена доступна в любое время, без штрафов.</p>
            </div>
            <div class="faq-item">
                <h3>Возникли проблемы при оформлении подписки, что делать?</h3>
                <p>Обратитесь в поддержку для быстрого решения.</p>
            </div>
            <div class="faq-item">
                <h3>Можно ли изменить план подписки?</h3>
                <p>Да, изменения возможны через настройки профиля.</p>
            </div>
        </section>
    </div>
{% endblock %}